@{
    ViewData["Title"] = "Home Page";
}

< class="d-flex justify-content-center align-items-center style="height: 80vh;">
    <div class="btn-group">
        <a class="btn btn-primary">Donate</a>
        <a class="btn btn-primary">View Donations</a>
    </div>        
</div>
