@{
    ViewData["Title"] = "Donations";
}

<div>
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Amount</th>
            </tr>
        </thead>
        <tbody>
            
        </tbody>
    </table>
</div>
